body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 20%; 
    background-color: #7d7980;
    padding: 20px;
    min-height: 100vh; 
    position: sticky; 
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #ddd8d2;
}

.sidebar ul li a:hover {
    background-color: #484545;
}

main {
    flex: 1; 
    padding: 20px;
    color:whitesmoke;
    background-image: url('a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

table{
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid rgb(230, 218, 218);
    caption-side:bottom;
}

td,th {
    border: thin dotted rgb(231, 132, 132);
    padding: 5px;
}

capption {
    font-style: italic;
    padding-top: 8px;
}
